<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thchengtay.eas.dao.VoucherMapper">

    <select id="listLoanOrderVoucher" parameterType="LoanOrderCriteria" resultType="LoanOrderDto">
        SELECT lo.application_no,
               lo.loan_application_no,
               lo.model,
               sum(lo.principal) principal,
               sum(lo.service_fee) serviceFee,
               sum(lo.xxt_fee) xxtFee,
               sum(lo.geex_fee) geexFee,
               sum(lo.guarantee_fee) guaranteeFee,
               sum(lo.other_fee) otherFee,
               lo.cooperation_code,
               lo.cooperation_name,
               lo.`project_code`,
               ap.`name` projectName,
               lo.product_code,
               lo.product_name
        FROM amp_capital.`loan_order` lo join amp_order.amp_project ap on lo.project_code = ap.no
        WHERE lo.`payment_time` >= #{startTime}
          AND lo.`payment_time` &lt; #{endTime}
          and lo.is_delete = 0 and lo.is_cancel = 0
        group by lo.cooperation_code, lo.model, lo.product_code
    </select>


    <select id="listLoanPayment" parameterType="LoanOrderCriteria" resultType="LoanPaymentDto">
        SELECT
            lo.`cooperation_code`,
            lo.`cooperation_name`,
            lo.`project_code`,
            SUM(lp.`payment_amt`) paymentAmount,
            SUM(lp.`realpayment_amt`) realPaymentAmount,
            lp.`acc_type`,
            ob.`channel_id` channel,
            sum(lp.`realpayment_amt` - lp.`payment_amt`) fee
        FROM amp_capital.loan_payment lp JOIN amp_capital.`loan_order` lo ON lp.`loan_application_no` = lo.`loan_application_no`
        JOIN amp_payment.`order_business` ob ON lp.`pay_apply_no` = ob.`biz_serial_no`
        WHERE lo.`model` != 2 and lp.is_delete = 0 and lo.is_cancel = 0
        AND lo.`payment_time` >= #{startTime}
        AND lo.`payment_time` &lt; #{endTime}
        GROUP BY lo.cooperation_code, lp.`acc_type`, ob.`channel_id`
    </select>


    <select id="listOfflineStatement" parameterType="LoanOrderCriteria" resultType="StatementDto">
        SELECT * FROM amp_saps.`statement` t
        WHERE t.`is_cancel` = 0 AND t.`is_delete` = 0
          AND t.`bill_date` = #{billDate}
          AND t.`statement_type` IN (1000, 2000, 3000, 4000)
        group by t.cooperation_code, t.statement_type, t.project_no
    </select>

    <select id="listOfflineStatementDetail" parameterType="LoanOrderCriteria" resultType="StatementResourceDto">
        SELECT
            s.`project_no`,
            rp.`project_name`,
            s.`cooperation_code`,
            s.`cooperation_name`,
            s.`statement_type`,
            SUM(sr.`fee_amount`) totalAmount,
            sr.`subject_no`,
            sr.`subject_name`,
            rp.`product_code`
        FROM amp_saps.`statement` s JOIN amp_saps.`statement_resource` sr ON s.`statement_no` = sr.`statement_no`
                                    JOIN amp_saps.`repayment_plan` rp ON sr.`bill_no` = rp.`bill_no`
        WHERE sr.`subject_no` IN ('P0001','P0003')
        AND s.`statement_type` IN (1000, 2000, 3000, 4000)
            #AND s.`bill_date` = #{billDate}
        AND s.`is_cancel` = 0 AND s.`is_delete` = 0
        AND rp.`is_delete` = 0 AND rp.`is_cancel` = 0
        GROUP BY s.`cooperation_code`,s.`statement_type`,sr.`subject_no`,rp.`product_code`
    </select>



</mapper>
